.vscode/**
.vscode-test/**
.vscode-test.mjs
.github/**
src/**
e2e/**
out/test/**
.gitignore
.env
.env.*
.yarnrc
.prettierignore
eslint.config.mjs
webpack.config.js
vsc-extension-quickstart.md
CLAUDE.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.vsix
assets/demo.gif
